<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shiwaforce test</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Cambo&family=Open+Sans&family=Yellowtail&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="./../static/css/main.css" />
    <script
      src="https://kit.fontawesome.com/928cb1fcab.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="page-title-container">
        <h1 class="page-title">Smart</h1>
        <h2 class="page-subtitle">inspiring innovations</h2>
      </div>
      <form class="search-form" action="index.html" method="POST">
        <input
          type="search"
          id="site-search"
          placeholder="Site Search"
          name="search"
        />
        <button type="submit">Go!</button>
      </form>
    </header>
    <main>
      <div class="main-title-container">
        <h1 class="main-title">Only individual</h1>
        <h2 class="main-subtitle">customer support</h2>
      </div>
      <div class="bg"></div>
      <ul class="main-list">
        <li class="main-list-element">
          <div class="card-content">
            <h1>A</h1>
            <h3>solutions</h3>
            <p>Lalesua kertase meyuade</p>
            <div class="card-textcontainer">
              <p>Odioner grda aselerade</p>
              <p>magnrem bus jertyadesede</p>
              <p>saleget kelems.</p>
            </div>
            <button class="more-btn">more</button>
          </div>
        </li>
        <li class="main-list-element">
          <div class="card-content">
            <h1>B</h1>
            <h3>analysis</h3>
            <p>Kerterasde nsera fertades</p>
            <div class="card-textcontainer">
              <p>Odioner gaskase lertade</p>
              <p>leotbus jeryadese eget</p>
              <p>kelemenr sus.</p>
            </div>
            <button class="more-btn">more</button>
          </div>
        </li>
        <li class="main-list-element">
          <div class="card-content">
            <h1>C</h1>
            <h3>stategies</h3>
            <p>Lalesua kertase meyuade</p>
            <div class="card-textcontainer">
              <p>Odioner grda aselerade</p>
              <p>magnrem bus jertyadesede</p>
              <p>saleget kelems.</p>
            </div>
            <button class="more-btn">more</button>
          </div>
        </li>
        <li class="main-list-element">
          <div class="card-content">
            <h1>D</h1>
            <h3>development</h3>
            <p>Kerterasde nsera fertades</p>
            <div class="card-textcontainer">
              <p>Odioner gaskase lertade</p>
              <p>leotbus jeryadese eget</p>
              <p>kelemenr sus.</p>
            </div>
            <button class="more-btn">more</button>
          </div>
        </li>
      </ul>
      <div class="bottom-text-container">
        <div class="bottom-text">
          <p>Caum socis nisque nla dusrtase meryuade lertyaferas!</p>
          <p>Feugiat malesuada odiorbi nuravida acursus nloremeasa ders</p>
          <p>mafna uada necsit amet er orem ipsumertes.</p>
        </div>
      </div>
      <ul class="socialmedia-list">
        <li class="social-icon">
          <a href="https://www.linkedin.com/in/janos-kalinics/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="social-icon">
          <a href="https://www.linkedin.com/in/janos-kalinics/" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li class="social-icon">
          <a href="https://www.linkedin.com/in/janos-kalinics/" target="_blank">
            <i class="fab fa-tumblr-square"></i>
          </a>
        </li>
        <li class="social-icon">
          <a href="https://www.linkedin.com/in/janos-kalinics/" target="_blank">
            <i class="fab fa-skype"></i>
          </a>
        </li>
        <li class="social-icon">
          <a href="https://www.linkedin.com/in/janos-kalinics/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </main>
    <footer></footer>
  </body>
</html>
